<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
#parse("content/importBase.vm")
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style type="text/css">
#preview>img {
	width: 100%;
	height: 170px;
}

.fixed-table-container thead th:nth-child(13) .th-inner {
	width: 100px
}

.fixed-table-container thead th:nth-child(14) .th-inner {
	width: 100px
}

.fixed-table-container thead th:nth-child(15) .th-inner {
	width: 100px
}

.fixed-table-container thead th:nth-child(16) .th-inner {
	width: 100px
}
</style>
</head>
<body style="width: 100%; height: 100%;">
	<div id="page-wrapper">
		<!--BEGIN TITLE & BREADCRUMB PAGE-->
		<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
			<div class="page-header pull-left">
				<div class="page-title">销售折扣审核记录</div>
			</div>
			<ol class="breadcrumb page-breadcrumb pull-right">
				<li><i class="fa fa-home"></i>&nbsp;<a href="#">销售折扣审核记录</a></li>
			</ol>
			<div class="clearfix"></div>
		</div>


		<div style="margin-top: 2%;" id="a">

			<div class="row">

				<label class="col-sm-1 control-label"
					style="text-align: right; margin-top: 5px">系统省：</label>
				<div class="col-sm-2">
					<div class="control-group">
						<select id="linkProvince" name="linkProvince"
							class="selectpicker show-tick form-control" title="请选择"
							data-live-search="true" data-size="5"
							onchange="getAllCityComplex(this)">
						</select><br />
					</div>
				</div>

				<label class="col-sm-1 control-label"
					style="text-align: right; margin-top: 5px">系统市：</label>
				<div class="col-sm-2">
					<div class="control-group">
						<select id="linkCity" name="linkCity"
							class="selectpicker show-tick form-control" title="请选择"
							data-live-search="true" data-size="5" data-actions-box="true">
						</select><br />
					</div>
				</div>

			</div>
			<br />

			<div class="row">

				<label class="col-sm-1 control-label"
					style="text-align: right; margin-top: 5px">门店信息：</label>
				<div class="col-sm-2">
					<div class="control-group">
						<input type="text" id="teamMsg" name="teamMsg"
							class="form-control" placeholder="ERP编号、门店编号、名称" /> <br />
					</div>
				</div>

				<label class="col-sm-1 control-label"
					style="text-align: right; margin-top: 5px">商品信息：</label>
				<div class="col-sm-2">
					<div class="control-group">
						<input type="text" id="proMsg" name="proMsg" class="form-control"
							placeholder="ERP编号、商品编号、名称" /> <br />
					</div>
				</div>

				<label class="col-sm-1 control-label"
					style="text-align: right; margin-top: 5px">购买用户信息：</label>
				<div class="col-sm-2">
					<div class="control-group">
						<input type="text" id="userMsg" name="userMsg"
							class="form-control" placeholder="编号、手机、姓名" /> <br />
					</div>
				</div>

			</div>

			<div class="row">

				<label class="col-sm-1 control-label"
					style="text-align: right; margin-top: 5px">业务审核结果：</label>
				<div class="col-sm-2">
					<div class="control-group">
						<select name="ywCheckStatus" id="ywCheckStatus"
							class="form-control">
							<option value="">请选择</option>
							<option value="0">通过</option>
							<option value="1">不通过</option>
						</select> <br />
					</div>
				</div>

				<label class="col-sm-1 control-label"
					style="text-align: right; margin-top: 5px">大区审核结果：</label>
				<div class="col-sm-2">
					<div class="control-group">
						<select name="dqCheckStatus" id="dqCheckStatus"
							class="form-control">
							<option value="">请选择</option>
							<option value="0">通过</option>
							<option value="1">不通过</option>
						</select> <br />
					</div>
				</div>

				<!-- <label class="col-sm-1 control-label"
					style="text-align: right; margin-top: 5px">业务审核时间（开始）：</label>
				<div class="col-sm-2">
					<div class="control-group">
						<input type="text" id="startDateYw"
							class="form-control datetimepicker" readonly /> <br />
					</div>
				</div>

				<label class="col-sm-1 control-label"
					style="text-align: right; margin-top: 5px">大区审核时间（开始）：</label>
				<div class="col-sm-2">
					<div class="control-group">
						<input type="text" id="startDateDq"
							class="form-control datetimepicker" readonly /> <br />
					</div>
				</div> -->

			</div>

			<div class="row">

				<label class="col-sm-1 control-label"
					style="text-align: right; margin-top: 5px">订单创建时间（开始）：</label>
				<div class="col-sm-2">
					<div class="control-group">
						<input type="text" id="startDateOrder"
							class="form-control datetimepicker" readonly /> <br />
					</div>
				</div>

				<label class="col-sm-1 control-label"
					style="text-align: right; margin-top: 5px">订单创建时间（截止）：</label>
				<div class="col-sm-2">
					<div class="control-group">
						<input type="text" id="endDateOrder"
							class="form-control datetimepicker" readonly /> <br />
					</div>
				</div>

			</div>

			<!-- <div class="row">

				<label class="col-sm-1 control-label"
					style="text-align: right; margin-top: 5px">业务审核时间（结束）：</label>
				<div class="col-sm-2">
					<div class="control-group">
						<input type="text" id="endDateYw"
							class="form-control datetimepicker" readonly /> <br />
					</div>
				</div>
				
				<label class="col-sm-1 control-label"
					style="text-align: right; margin-top: 5px">大区审核时间（结束）：</label>
				<div class="col-sm-2">
					<div class="control-group">
						<input type="text" id="endDateDq"
							class="form-control datetimepicker" readonly /> <br />
					</div>
				</div>

			</div> -->

			<div class="row">

				<label class="col-sm-1 control-label"
					style="text-align: right; margin-top: 5px">操作人信息：</label>
				<div class="col-sm-2">
					<div class="control-group">
						<input type="text" id="operMsg" name="operMsg"
							class="form-control" placeholder="编号、手机、姓名" /> <br />
					</div>
				</div>

				<label class="col-sm-1 control-label"
					style="text-align: right; margin-top: 5px">业务经理信息：</label>
				<div class="col-sm-2">
					<div class="control-group">
						<input type="text" id="ywerMsg" name="ywerMsg"
							class="form-control" placeholder="编号、手机、姓名" /> <br />
					</div>
				</div>

				<label class="col-sm-1 control-label"
					style="text-align: right; margin-top: 5px">大区经理信息：</label>
				<div class="col-sm-2">
					<div class="control-group">
						<input type="text" id="dqerMsg" name="dqerMsg"
							class="form-control" placeholder="编号、手机、姓名" /> <br />
					</div>
				</div>

			</div>


			<div class="row">
				<div class="col-sm-4" style="float: right">
					<div class="control-group">
						<div>
							<button onclick="clean()" class="btn btn-danger" name="Name"
								id="search_tel" value="清空"
								style="float: right; margin-right: 2%;">清空</button>
						</div>
						<div>
							<button onclick="sorce()" class="btn btn-info" name="Name"
								id="search_tel" value="查询"
								style="float: right; margin-right: 2%;">查询</button>
						</div>
						<div>
							<button id="search_btn" type="button" class="btn btn-success"
								style="float: right; margin-right: 2%;"
								onclick="exportAllPage()">导出全部</button>
						</div>
					</div>
				</div>
			</div>

		</div>

		<table id="mytab" class="table table-hover"></table>

	</div>

</body>

<script type="text/javascript">
	$(document).ready(function() {
		$('.selectpicker').selectpicker({
			'noneSelectedText' : '请选择',
			'deselectAllText' : '全不选',
			'selectAllText' : '全选',
		})

		getAllProvinceComplex();
	})
</script>

<script type="text/javascript">
	$('.datetimepicker').datetimepicker({
		minView : "month",//设置只显示到月份
		format : 'yyyy-mm-dd',
		language : 'zh-CN',
		autoclose : true,//选中关闭
		todayBtn : true
	//今日按钮
	})
	function clean() {
		$("#a input").val("");
		$("#a select").val("");
		$('.selectpicker').selectpicker('refresh');
	}

	bootsearch(null);

	var all;
	function sorce() {
		$("#mytab").bootstrapTable('destroy');
		//生成用户数据
		bootsearch("queryAllSaleCheckList.do");
	}

	function bootsearch(url) {
		//生成用户数据
		$('#mytab')
				.bootstrapTable(
						{
							method : 'post',
							contentType : "application/x-www-form-urlencoded",//必须要有！！！！
							url : url,//要请求数据的文件路径
							dataType : 'json',
							striped : true, //是否显示行间隔色
							pageNumber : 1, //初始化加载第一页，默认第一页
							pageSize : 10,//单页记录数
							pageList : [ 5, 10, 20, 30 ],//分页步进值
							pagination : true,//是否分页
							queryParamsType : 'limit',//查询参数组织方式
							sidePagination : 'server',//指定服务器端分页
							queryParams : function(p) {
								return params(p);
							},
							clickToSelect : true,//是否启用点击选中行
							toolbarAlign : 'right',//工具栏对齐方式
							buttonsAlign : 'right',//按钮对齐方式
							toolbar : '#toolbar',//指定工作栏
							showFooter : true,//开启列计算
							columns : [
									{
										title : '序号',
										field : 'proNum',
										footerFormatter : function(value) {
											return "当前页小计" + "</br>" + "合计";
										}
									},
									{
										title : '订单号',
										field : 'orderNo'
									},
									{
										title : '子订单号',
										field : 'orderId'
									},
									{
										title : '商品名称',
										field : 'productName'
									},
									{
										title : '业务经理',
										field : 'yw_name',
										formatter : function(value, row, index) {
											return checkEmpty(row.yw_name)
													+ "</br>"
													+ checkEmpty(row.yw_cell);
										}
									},
									{
										title : '审核理由（业务）',
										field : 'yw_reason'
									},
									{
										title : '审核时间（业务）',
										field : 'yw_time',
										formatter : function(value, row, index) {
											return format(value);
										}
									},
									{
										title : '大区经理',
										field : 'dq_name',
										formatter : function(value, row, index) {
											return checkEmpty(row.dq_name)
													+ "</br>"
													+ checkEmpty(row.dq_cell);
										}
									},
									{
										title : '审核理由（大区）',
										field : 'dq_reason'
									},
									{
										title : '审核时间（大区）',
										field : 'dq_time',
										formatter : function(value, row, index) {
											return format(value);
										}
									},
									{
										title : '折扣（%）',
										field : 'cashierDiscount'
									},
									{
										title : '购买人',
										field : 'buy_name',
										formatter : function(value, row, index) {
											return checkEmpty(row.buy_name)
													+ "</br>"
													+ checkEmpty(row.buy_cell);
										}
									},
									{
										title : '数量',
										field : 'orderCount'
									},
									{
										title : '零售金额',
										field : 'orderPrice'
									},
									{
										title : '实付金额',
										field : 'realOrderPrice'
									},
									{
										title : '优惠券金额',
										field : 'reduceAmountDiscount'
									},
									{
										title : '操作人',
										field : 'op_name',
										formatter : function(value, row, index) {
											return checkEmpty(row.op_name)
													+ "</br>"
													+ checkEmpty(row.op_cell);
										}
									},
									{
										title : '订单创建时间',
										field : 'gmtCreate',
										formatter : function(value, row, index) {
											return format(value);
										}
									} ],
							locale : 'zh-CN',//中文支持,
							formatNoMatches : function() {
								if (isEmpty(url)) {
									return "单击查询搜索记录"
								} else {
									return "没有找到匹配的记录"
								}
							},
							onLoadSuccess : function(res) { //加载成功时执行
								$(".fixed-table-footer")
										.find(".th-inner")
										.each(
												function(index, item) {
													if (index == 12) {
														$(this)
																.html(
																		res.orderCount_page
																				+ '</br>'
																				+ res.orderCountSum);
													}
													if (index == 13) {
														$(this)
																.html(
																		res.orderPrice_page
																				+ '</br>'
																				+ res.orderPriceSum);
													}
													if (index == 14) {
														$(this)
																.html(
																		res.realOrderPrice_page
																				+ '</br>'
																				+ res.realOrderPriceSum);
													}
												});

								$(".fixed-table-body").on("scroll", function() {
									var sl = this.scrollLeft;
									$(this).next()[0].scrollLeft = sl;
								})
							},
							responseHandler : function(res) {
								//在ajax获取到数据，渲染表格之前，修改数据源
								all = res.rows;
								return res;
							}
						})
	}

	//获取搜索的所有值
	function params(params) {
		$("#a input[type='text']").each(function() {
			params[$(this).attr("id")] = $(this).val();
		});
		$("#a select").each(function() {
			params[$(this).attr("id")] = $(this).val();
		});
		return params;
	}
</script>

<script type="text/javascript">
	function exportAllPage() {
		var linkProvince = $("#linkProvince").val();
		var linkCity = $("#linkCity").val();
		var teamMsg = $("#teamMsg").val();
		var operMsg = $("#operMsg").val();
		var ywerMsg = $("#ywerMsg").val();
		var dqerMsg = $("#dqerMsg").val();
		var startDateYw = $("#startDateYw").val();
		var endDateYw = $("#endDateYw").val();
		var startDateDq = $("#startDateDq").val();
		var endDateDq = $("#endDateDq").val();

		var startDateOrder = $("#startDateOrder").val();
		var endDateOrder = $("#endDateOrder").val();
		var proMsg = $("#proMsg").val();
		var userMsg = $("#userMsg").val();

		var ywCheckStatus = $("#ywCheckStatus").val();
		var dqCheckStatus = $("#dqCheckStatus").val();

		var action = "exportAllSaleCheckList.do";
		var form = $("<form></form>");
		form.attr('action', action);
		form.attr('method', 'post');
		input2 = $("<input type='text' name='linkProvince' value='"+linkProvince+"' />");
		form.append(input2);
		input3 = $("<input type='text' name='linkCity' value='"+linkCity+"' />");
		form.append(input3);
		input4 = $("<input type='text' name='teamMsg' value='"+teamMsg+"' />");
		form.append(input4);
		input5 = $("<input type='text' name='operMsg' value='"+operMsg+"' />")
		form.append(input5);
		input6 = $("<input type='text' name='ywerMsg' value='"+ywerMsg+"' />");
		form.append(input6);
		input7 = $("<input type='text' name='dqerMsg' value='"+dqerMsg+"' />");
		form.append(input7);
		input8 = $("<input type='text' name='startDateYw' value='"+startDateYw+"' />");
		form.append(input8);
		input9 = $("<input type='text' name='endDateYw' value='"+endDateYw+"' />");
		form.append(input9);
		input10 = $("<input type='text' name='startDateDq' value='"+startDateDq+"' />");
		form.append(input10);
		input11 = $("<input type='text' name='endDateDq' value='"+endDateDq+"' />");
		form.append(input11);
		input12 = $("<input type='text' name='startDateOrder' value='"+startDateOrder+"' />");
		form.append(input12);
		input13 = $("<input type='text' name='endDateOrder' value='"+endDateOrder+"' />");
		form.append(input13);
		input14 = $("<input type='text' name='proMsg' value='"+proMsg+"' />");
		form.append(input14);
		input15 = $("<input type='text' name='userMsg' value='"+userMsg+"' />");
		form.append(input15);
		input16 = $("<input type='text' name='ywCheckStatus' value='"+ywCheckStatus+"' />");
		form.append(input16);
		input17 = $("<input type='text' name='dqCheckStatus' value='"+dqCheckStatus+"' />");
		form.append(input17);

		form.appendTo("body");
		form.css('display', 'none');
		form.submit();
	}
</script>
</html>