<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
#parse("content/importBase.vm")
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style type="text/css">
#preview>img {
	width: 100px;
	height: 100px;
}
</style>
</head>
<body style="width: 100%; height: 100%;">
	<div id="page-wrapper">
		<!--BEGIN TITLE & BREADCRUMB PAGE-->
		<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
			<div class="page-header pull-left">
				<div class="page-title">系统设置</div>
			</div>
			<ol class="breadcrumb page-breadcrumb pull-right">
				<li><i class="fa fa-home"></i>&nbsp;<a href="#">系统设置</a>&nbsp;&nbsp;<i
					class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
				<li class="hidden"><a href="#">系统设置</a>&nbsp;&nbsp;<i
					class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
				<li class="active">退货理由设置</li>
			</ol>
			<div class="clearfix"></div>
		</div>

		<div style="margin-top: 2%;" id="a">

			<div class="col-sm-4" style="float: right">
				<div class="control-group">
					<div>
						<button onclick="sorce()" class="btn btn-info" name="Name"
							id="search_tel" value="刷新"
							style="float: right; margin-right: 2%;">刷新</button>
					</div>
					<div>
						<button onclick="showallmodal('myModal','show')"
							class="btn btn-warning" name="Name" id="search_tel" value="添加"
							style="float: right; margin-right: 2%;">添加</button>
					</div>
				</div>
			</div>

		</div>

		<table id="mytab" class="table table-hover"></table>

		<!-- 新增模态框  -->
		<div class="modal fade" id="myModal" data-backdrop="static"
			tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
			aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
						<h4 class="modal-title">退货理由信息</h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal" role="form" name="form"
							enctype="multipart/form-data" method="post">

							<div class="form-group">
								<label for="lastname" class="col-sm-2 control-label">理由描述：</label>
								<div class="col-sm-10">
									<input type="text" id="reason" class="form-control"
										name="reason" />
								</div>
							</div>

							<div class="form-group">
								<label for="lastname" class="col-sm-2 control-label">排序（降序）：</label>
								<div class="col-sm-10">
									<input type="number" id="rank" name="rank" class="form-control"
										min="0" onkeyup="this.value=this.value.replace(/\D/g,'')"
										value="0" />
								</div>
							</div>

						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary"
							onclick="submitAdd()">确定</button>
						<button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
					</div>
				</div>
			</div>
		</div>

		<!-- 修改模态框  -->
		<div class="modal fade" id="editModal" data-backdrop="static"
			tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
			aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
						<h4 class="modal-title">等级信息</h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal" role="form" name="editForm"
							enctype="multipart/form-data" method="post">
							<div class="form-group">
								<label for="lastname" class="col-sm-2 control-label">理由描述：</label>
								<div class="col-sm-10">
									<input type="text" id="editReason" class="form-control"
										name="reason" /> <input type="hidden" id="editId"
										class="form-control" name="id" />
								</div>
							</div>

							<div class="form-group">
								<label for="lastname" class="col-sm-2 control-label">排序（降序）：</label>
								<div class="col-sm-10">
									<input type="number" id="editRank" name="rank"
										class="form-control" min="0"
										onkeyup="this.value=this.value.replace(/\D/g,'')" value="0" />
								</div>
							</div>

						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary"
							onclick="submitEdit()">修改</button>
						<button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

<script type="text/javascript">
	//提交添加表单
	function submitAdd() {
		$("form[name='form']").ajaxSubmit({
			type : "post",
			url : "insertReason.do",
			dataType : "json",
			beforeSubmit : function() {
			},
			success : function(data) {
				if (!data.success) {
					alert(data.message);
					return false;
				} else {
					alert(data.message);
					showallmodal('myModal', 'hide');
					$("#mytab").bootstrapTable('refresh');
				}

			},
			error : function(e) {
				alert("异常!");
			}

		});
	}
	//提交修改表单
	function submitEdit() {
		$("#etype").removeAttr("disabled");
		$("#elevelType").removeAttr("disabled");
		$("form[name='editForm']").ajaxSubmit({
			type : "post",
			url : "updateReason.do",
			dataType : "json",
			beforeSubmit : function() {
			},
			success : function(data) {
				if (!data.success) {
					alert(data.message);
					return false;
				} else {
					alert(data.message);
					showallmodal('editModal', 'hide');
					$("#mytab").bootstrapTable('refresh');
				}

			},
			error : function(e) {
				alert("异常!");
			}

		});
	}

	function clean() {
		$("#a input").val("");
		$("#a select").val("");
	}

	bootsearch()
	function sorce() {
		$("#mytab").bootstrapTable('destroy');
		//生成用户数据
		bootsearch();
	}

	var all;
	function bootsearch() {
		//生成列表数据
		$('#mytab')
				.bootstrapTable(
						{
							method : 'post',
							contentType : "application/x-www-form-urlencoded",//必须要有！！！！
							url : "selectAllReason.do",//要请求数据的文件路径
							dataType : 'json',
							striped : true, //是否显示行间隔色
							pageNumber : 1, //初始化加载第一页，默认第一页
							pageSize : 10,//单页记录数
							pageList : [ 5, 10, 20, 30 ],//分页步进值
							pagination : true,//是否分页
							queryParamsType : 'limit',//查询参数组织方式
							sidePagination : 'server',//指定服务器端分页
							queryParams : function(p) {
								return params(p);
							},

							clickToSelect : true,//是否启用点击选中行
							toolbarAlign : 'right',//工具栏对齐方式
							buttonsAlign : 'right',//按钮对齐方式
							toolbar : '#toolbar',//指定工作栏
							columns : [
									{
										title : '操作',
										field : 'ID',
										formatter : function(value, row, index) {
											return "<a href='#' onclick=updatelabellingshow('"
													+ index
													+ "')>修改</a>"
													+ "| <a href='#' onclick=delReason('"
													+ value + "')>删除</a>";
										}
									},
									{
										title : '内容描述',
										field : 'REASON'
									},
									{
										title : '排序（降序）',
										field : 'RANK'
									},
									{
										title : '创建时间',
										field : 'GMT_CREATE',
										formatter : function(value, row, index) {
											return format(value);
										}
									},
									{
										title : '修改时间',
										field : 'GMT_MODIFIED',
										formatter : function(value, row, index) {
											return format(value);
										}
									}, ],
							locale : 'zh-CN',//中文支持,
							responseHandler : function(res) {
								//在ajax获取到数据，渲染表格之前，修改数据源
								all = res.rows;
								return res;
							}
						})
	}

	//显示添加框
	function showallmodal(id, type) {
		//添加的时候先清除一下缓存
		claenmyModal(id);
		$("#" + id).modal(type);
	}

	//显示修改框
	function updatelabellingshow(number) {
		$("#editId").val(all[number].ID);
		$("#editReason").val(all[number].REASON);
		$("#editRank").val(all[number].RANK);
		$("#editModal").modal('show');
	}

	//删除
	function delReason(ID) {
		if (confirm("确认删除？删除后不可修改！")) {
			jQuery.ajax({
				url : "delReason.do",
				type : 'post',
				data : {
					"id" : ID
				},
				dataType : 'json',
				success : function(data) {
					if (!data.success) {
						alert(data.message);
						return false;
					} else {
						alert(data.message);
						$("#mytab").bootstrapTable('refresh');
					}
				},
				error : function() {
					alert("异常！");
				}
			});
		}
	}

	//获取搜索的所有值
	function params(params) {
		$("#a input[type='text']").each(function() {
			params[$(this).attr("id")] = $(this).val();
		});
		$("#a select").each(function() {
			params[$(this).attr("id")] = $(this).val();
		});
		return params;
	}
</script>
</html>