<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
#parse("content/importBase.vm")
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style type="text/css">
#preview>img {
	width: 100px;
	height: 100px;
}
</style>
</head>
<body style="width: 100%; height: 100%;">
	<div id="page-wrapper">
		<!--BEGIN TITLE & BREADCRUMB PAGE-->
		<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
			<div class="page-header pull-left">
				<div class="page-title">系统设置</div>
			</div>
			<ol class="breadcrumb page-breadcrumb pull-right">
				<li><i class="fa fa-home"></i>&nbsp;<a href="#">系统设置</a>&nbsp;&nbsp;<i
					class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
				<li class="hidden"><a href="#">系统设置</a>&nbsp;&nbsp;<i
					class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
				<li class="active">搜索关键词设置</li>
			</ol>

			<div class="clearfix"></div>
		</div>


		<div style="margin-top: 2%;" id="a">
			<div class="row">
				<label class="col-sm-1 control-label"
					style="text-align: right; margin-top: 5px">搜索关键词：</label>
				<div class="col-sm-2">
					<div class="control-group">
						<input type="text" id="keyWord" class="form-control" /> <br />
					</div>
				</div>
				<label class="col-sm-1 control-label"
					style="text-align: right; margin-top: 5px">是否热搜：</label>
				<div class="col-sm-2">
					<div class="control-group">
						<select id="status" class="form-control">
							<option value="">请选择</option>
							<option value="ENABLED">是</option>
							<option value="UNABLED">否</option>
						</select> <br />
					</div>
				</div>

			</div>

			<div class="col-sm-4" style="float: right">
				<div class="control-group">
					<div>
						<button onclick="clean()" class="btn btn-danger" name="Name"
							id="search_tel" value="清空"
							style="float: right; margin-right: 2%;">清空</button>
					</div>
					<div>
						<button onclick="sorce()" class="btn btn-info" name="Name"
							id="search_tel" value="查询"
							style="float: right; margin-right: 2%;">查询</button>
					</div>
					<div>
						<button onclick="showallmodal('myModal','show')"
							class="btn btn-warning" name="Name" id="search_tel" value="添加"
							style="float: right; margin-right: 2%;">添加</button>
					</div>
				</div>
			</div>

		</div>

		<!--END TITLE & BREADCRUMB PAGE-->
		<!--BEGIN CONTENT-->
		<table id="mytab" class="table table-hover"></table>
		#parse("content/bigimg.vm")
		<div class="modal fade" id="myModal" data-backdrop="static"
			tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
			aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">搜索关键词</h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal" role="form" name="form"
							enctype="multipart/form-data" method="post">
							<div class="form-group">
								<label for="lastname" class="col-sm-2 control-label">关键词名称<span
									style="color: red;">*</span></label>
								<div class="col-sm-10">
									<input type="hidden" id="id" class="form-control" name="id"
										value="0" /> <input type="text" id="akeyWord"
										class="form-control" name="akeyWord" />
								</div>
							</div>
							<div class="form-group">
								<label for="lastname" class="col-sm-2 control-label">是否热搜<span
									style="color: red;">*</span></label>
								<div class="col-sm-10">
									<select id="astatus" class="form-control" name="astatus">
										<option value="">请选择</option>
										<option value="ENABLED">是</option>
										<option value="UNABLED">否</option>
									</select>
								</div>
							</div>

							<div class="form-group">
								<label for="lastname" class="col-sm-2 control-label">搜索次数</label>
								<div class="col-sm-10">
									<input type="number" id="times" name="times"
										class="form-control" min="0"
										onkeyup="this.value=this.value.replace(/\D/g,'')"
										onafterpaste="this.value=this.value.replace(/\D/g,'')"
										value="0" />
								</div>
							</div>

							<div class="form-group">
								<label for="lastname" class="col-sm-2 control-label">排序降序<span
									style="color: red;">*</span></label>
								<div class="col-sm-10">
									<input type="number" id="rank" name="rank" class="form-control"
										min="0" onkeyup="this.value=this.value.replace(/\D/g,'')"
										onafterpaste="this.value=this.value.replace(/\D/g,'')"
										value="0" />
								</div>
							</div>

							<div class="form-group">
								<label for="lastname" class="col-sm-2 control-label">备注</label>
								<div class="col-sm-10">
									<textarea id="memo" name="memo" class="form-control"></textarea>
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" onclick="submit()">确定</button>
						<button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

<script type="text/javascript">
	function submit() {
		$("form[name='form']").ajaxSubmit({
			type : "post",
			url : "editSearch.do",
			dataType : "json",
			beforeSubmit : function() {
			},
			success : function(data) {
				if (!data.success) {
					alert(data.message);
					return false;
				} else {
					window.location.reload(true);
				}

			},
			error : function(e) {
				alert("异常!");
			}

		});
	}
	function clean() {
		$("#a input").val("");
		$("#a select").val("");
	}

	bootsearch()
	function sorce() {
		$("#mytab").bootstrapTable('destroy');
		//生成用户数据
		bootsearch();
	}

	var all;
	function bootsearch() {
		//生成用户数据
		$('#mytab')
				.bootstrapTable(
						{
							method : 'post',
							contentType : "application/x-www-form-urlencoded",//必须要有！！！！
							url : "getSearchList.do",//要请求数据的文件路径
							dataType : 'json',
							striped : true, //是否显示行间隔色
							pageNumber : 1, //初始化加载第一页，默认第一页
							pageSize : 10,//单页记录数
							pageList : [ 5, 10, 20, 30 ],//分页步进值
							pagination : true,//是否分页
							queryParamsType : 'limit',//查询参数组织方式
							sidePagination : 'server',//指定服务器端分页
							queryParams : function(p) {
								return params(p);
							},

							clickToSelect : true,//是否启用点击选中行
							toolbarAlign : 'right',//工具栏对齐方式
							buttonsAlign : 'right',//按钮对齐方式
							toolbar : '#toolbar',//指定工作栏
							columns : [
									{
										title : '操作',
										field : 'id',
										formatter : function(value, row, index) {

											return "<a href='#' onclick=updatelabellingshow('"
													+ index
													+ "')>修改</a> | "
													+ "<a href='#' onclick=deletserch('"
													+ index + "')>删除</a>";
										}
									},
									{
										title : '搜索关键字',
										field : 'keyWord'
									},
									{
										title : '是否热搜',
										field : 'status',
										formatter : function(value, row, index) {
											if (value == "ENABLED")
												return "是";
											if (value == "UNABLED")
												return "否";
										}
									},
									{
										title : '搜索次数',
										field : 'times'
									},
									{
										title : '排序',
										field : 'rank'
									},
									{
										title : '备注',
										field : 'memo',
										formatter : function(value, row, index) {
											if (value != null) {
												return value.substr(0, 5)
														+ "...";
											}

										}
									} ],
							locale : 'zh-CN',//中文支持,
							responseHandler : function(res) {
								//在ajax获取到数据，渲染表格之前，修改数据源
								all = res.rows;
								return res;
							}
						})
	}

	//显示添加框
	function showallmodal(id, type) {
		//添加的时候先清除一下缓存
		claenmyModal();
		$("#id").val("0");
		$("#" + id).modal(type);
	}

	//显示修改框
	function updatelabellingshow(number) {
		claenmyModal();
		$("#id").val(all[number].id);
		$("#akeyWord").val(all[number].keyWord);
		$("#astatus").val(all[number].status);
		$("#times").val(all[number].times);
		$("#rank").val(all[number].rank);
		$("#memo").val(all[number].memo);
		$("#myModal").modal('show');
	}

	function claenmyModal() {
		$("#myModal input").val("");
		$("#myModal select").val("");
		$("#myModal textarea").val("");
		$("#preview").html("");
	}

	//删除
	function deletserch(number) {
		var id = all[number].id;
		jQuery.ajax({
			url : "deletSearch.do",
			type : 'post',
			data : {
				"id" : id
			},
			dataType : 'json',
			success : function(data) {

				if (!data.success) {
					alert(data.message);
					return false;
				} else {
					window.location.reload(true);
				}
			},
			error : function() {
				alert("异常！");
			}
		});
	}
	//获取搜索的所有值
	function params(params) {
		$("#a input[type='text']").each(function() {
			params[$(this).attr("id")] = $(this).val();
		});
		$("#a select").each(function() {
			params[$(this).attr("id")] = $(this).val();
		});
		return params;
	}
</script>
</html>