<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
#parse("content/importBase.vm")
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style type="text/css">
#preview>img {
	width: 100%;
	height: 170px;
}
</style>
</head>
<body style="width: 100%; height: 100%;">
	<div id="page-wrapper">
		<!--BEGIN TITLE & BREADCRUMB PAGE-->
		<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
			<div class="page-header pull-left">
				<div class="page-title">自定义商品类型管理</div>
			</div>
			<ol class="breadcrumb page-breadcrumb pull-right">
				<li><i class="fa fa-home"></i>&nbsp;<a href="#">自定义商品类型管理</a></li>
			</ol>

			<div class="clearfix"></div>
		</div>

		<!--END TITLE & BREADCRUMB PAGE-->
		<!--BEGIN CONTENT-->
		<table id="mytab" class="table table-hover"></table>


		<!-- 修改模块 -->
		<div class="modal fade" id="myEditModal" data-backdrop="static"
			tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
			aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">修改养生知识</h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal" role="form" name="enoticeform"
							method="post" enctype="multipart/form-data">
							<input type="hidden" id="typeId" name="typeId"
								class="form-control" readonly="readonly" />
							<div class="form-group">
								<label for="lastname" class="col-sm-2 control-label">类型名称：</label>
								<div class="col-sm-10">
									<input type="text" id="typeName" name="typeName"
										class="form-control" />
								</div>
							</div>
							<div class="form-group">
								<label for="lastname" class="col-sm-2 control-label">排序：</label>
								<div class="col-sm-10">
									<input type="number" id="rank" name="rank" class="form-control" />
								</div>
							</div>
							<div class="form-group">
								<label for="lastname" class="col-sm-2 control-label">是否PC端展示：</label>
								<div class="col-sm-10">
									<select class="form-control" id="showPc" name="showPc">
										<option value="">请选择</option>
										<option value="0">不展示</option>
										<option value="1">展示</option>
									</select>
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" id="submitEdit" class="btn btn-primary"
							onclick="submitEditnotice()">确定</button>
						<button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

<script type="text/javascript">
	function claenmyEditModal() {
		$("#myEditModal input").val("");
		$("#myEditModal select").val("");
	}

	function clean() {
		$("#a input").val("");
		$("#a select").val("");
	}

	bootsearch();

	var all;
	function sorce() {
		$("#mytab").bootstrapTable('destroy');
		//生成用户数据
		bootsearch();
	}

	function bootsearch() {
		//生成用户数据
		$('#mytab').bootstrapTable(
				{
					method : 'post',
					contentType : "application/x-www-form-urlencoded",//必须要有！！！！
					url : "queryProType.do",//要请求数据的文件路径
					dataType : 'json',
					striped : true, //是否显示行间隔色
					pageNumber : 1, //初始化加载第一页，默认第一页
					pageSize : 10,//单页记录数
					pageList : [ 5, 10, 20, 30 ],//分页步进值
					pagination : true,//是否分页
					queryParamsType : 'limit',//查询参数组织方式
					sidePagination : 'server',//指定服务器端分页
					queryParams : function(p) {
						return params(p);
					},

					clickToSelect : true,//是否启用点击选中行
					toolbarAlign : 'right',//工具栏对齐方式
					buttonsAlign : 'right',//按钮对齐方式
					toolbar : '#toolbar',//指定工作栏
					columns : [
							{
								title : '操作',
								field : 'ID',
								formatter : function(value, row, index) {
									return "<a href='#' onclick=details('"
											+ index + "')>详情</a>";
								}
							}, {
								title : '类型名称',
								field : 'TYPE_NAME'
							}, {
								title : '排序（升序  从左到右）',
								field : 'RANK'
							}, {
								title : '是否PC端展示',
								field : 'SHOW_PC',
								formatter : function(value, row, index) {
									if (value == '0')
										return "不展示";

									if (value == '1')
										return "展示";
								}
							} ],
					locale : 'zh-CN',//中文支持,
					responseHandler : function(res) {
						//在ajax获取到数据，渲染表格之前，修改数据源
						all = res.rows;
						return res;
					}
				});
	}

	//显示修改框
	function details(index) {
		claenmyEditModal();
		$("#typeId").val(all[index].TYPE_ID);
		$("#typeName").val(all[index].TYPE_NAME);
		$("#rank").val(all[index].RANK);
		$("#showPc").val(all[index].SHOW_PC);

		$("#myEditModal").modal("show");
	}

	//修改
	function submitEditnotice() {
		$("form[name='enoticeform']").ajaxSubmit({
			type : "post",
			url : "modifyProType.do",
			dataType : "json",
			beforeSubmit : function() {
			},
			success : function(data) {
				if (data.success) {
					$("#mytab").bootstrapTable('refresh');
					$("#myEditModal").modal("hide");
				} else {
					alert("操作失败,但系统无异常");
				}
			},
			error : function() {
				alert("操作失败！");
			}
		});
		$('#myEditModel').modal('hide');
	}

	//获取搜索的所有值
	function params(params) {
		$("#a input[type='text']").each(function() {
			params[$(this).attr("id")] = $(this).val();
		});
		$("#a select").each(function() {
			params[$(this).attr("id")] = $(this).val();
		});
		return params;
	}
</script>
</html>